
[Desktop Entry]
Name=wxPerlBlog
Comment=TP Perl Lenguajes de Scripting 
Exec=/home/cgc/Documents/wxPerlBlog/bin/pb-start
Terminal=false
Type=Application
Icon=empathy
Categories=GTK;Database;Development;Application;
X-Desktop-File-Install-Version=0.18
